{
    "extends": ["@sirse-dev/eslint-config"],
    "overrides": [
        {
            "files": ["*.config.js"],
            "rules": {
                "@typescript-eslint/naming-convention": "off",
                "unicorn/prefer-node-protocol": "off"
            }
        },
        {
            "files": ["*.test.ts", "*.test.tsx"],
            "rules": {
                "@typescript-eslint/naming-convention": "off"
            }
        }
    ]
}
