{
    "extends": ["@sirse-dev/eslint-config"],
    "overrides": [
        {
            "files": ["*.config.js"],
            "rules": {
                "@typescript-eslint/naming-convention": "off"
            }
        }
    ]
}
